body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;

}



h1 {
    color: rgb(66, 102, 179);
    text-align: center;

}

.div1 {
    margin-left: auto;
    margin-right: auto;
    color: rgb(12, 12, 27);
    width: 80%;
    margin: 50px;
    padding: 20px;
    background-color: #be8080;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.div2 {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}


th{
    padding: 10px;
    text-align: left;
    border: 1px solid #5e4646;
}
td{
    padding: 10px;
    text-align: left;
    border: 1px solid #857db3;
}